In [10]:
import pandas as pd
import numpy as np
import json
from log_parser import process_file

In [21]:
with open("../replays/log4.log.rec.json") as f:
    obj = json.load(f)
    
df = pd.DataFrame(obj)
listings = pd.DataFrame(df["listings"][0])
df = df.drop("listings", axis=1)

In [22]:
df

,market_trades,observations,order_depths,own_trades,position,timestamp
0,{},{},"{'BANANAS': {'buy_orders': {'4892': 30, '4893'...",{},{},0
1,"{'PEARLS': [{'buyer': '', 'price': 10002.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4892': 31}, 'sell...","{'PEARLS': [{'buyer': '', 'price': 9998.0, 'qu...",{'PEARLS': -1},100
2,"{'PEARLS': [{'buyer': '', 'price': 10002.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4892': 22}, 'sell...","{'PEARLS': [{'buyer': '', 'price': 9996.0, 'qu...",{'PEARLS': -2},200
3,"{'PEARLS': [{'buyer': '', 'price': 10002.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4893': 25}, 'sell...","{'PEARLS': [{'buyer': '', 'price': 9996.0, 'qu...",{'PEARLS': -3},300
4,"{'PEARLS': [{'buyer': '', 'price': 9998.0, 'qu...",{},"{'BANANAS': {'buy_orders': {'4893': 25, '4894'...","{'PEARLS': [{'buyer': '', 'price': 9996.0, 'qu...",{'PEARLS': -5},400
...,...,...,...,...,...,...
1993,"{'BANANAS': [{'buyer': '', 'price': 4910.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4905': 22}, 'sell...","{'PEARLS': [{'buyer': '', 'price': 9998.0, 'qu...",{'PEARLS': -20},199500
1994,"{'BANANAS': [{'buyer': '', 'price': 4905.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4905': 28}, 'sell...","{'PEARLS': [{'buyer': '', 'price': 9998.0, 'qu...",{'PEARLS': -20},199600
1995,"{'BANANAS': [{'buyer': '', 'price': 4905.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4904': 28, '4905'...","{'PEARLS': [{'buyer': '', 'price': 9998.0, 'qu...",{'PEARLS': -20},199700
1996,"{'BANANAS': [{'buyer': '', 'price': 4905.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4905': 28}, 'sell...","{'PEARLS': [{'buyer': '', 'price': 9998.0, 'qu...",{'PEARLS': -20},199800
1997,"{'BANANAS': [{'buyer': '', 'price': 4906.0, 'q...",{},"{'BANANAS': {'buy_orders': {'4905': 25, '4906'...","{'PEARLS': [{'buyer': '', 'price': 9998.0, 'qu...",{'PEARLS': -20},199900

In [ ]:
market_trades = trades